<div class="container">
    <div>
    <p class="title h3">Join Our Mailing List</p>
    </div>
    <div class="title para">
        <p>Subscribe to receive email updates on new collections, special offers, gift guides and more!</p>
    </div>
    <div class="title email d-flex">
        <input type="email" class="form-control" placeholder="  Enter Your Email">
        <input type="button" class="button btn-dark" value="Subscribe">
    </div>
</div>


<div class="">
    <!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left bg-white">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Information</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About Us</a>
            </li>
            <li>
              <a href="#!">Our Story</a>
            </li>
            <li>
              <a href="#!"> Artofa Packaging</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">FEATURED</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Birthday Gifts</a>
            </li>
            <li>
              <a href="#!">Engagement Gifts</a>
            </li>
            <li>
              <a href="#!">Personalised Gifts</a>
            </li>
            <li>
              <a href="#!">Thank You Gifts</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- <hr class="clearfix w-100 d-md-none"> -->
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SHOP WITH US</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#">Sign Up</a>
            </li>
            <li>
              <a href="#!">FAQs</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
            <li>
              <a href="#!">Shipping & Returns</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- <hr class="clearfix w-100 d-md-none"> -->
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">GET IN TOUCH</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Partner With Us</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
    <a class=" fb icon" href="#">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
    <a class="insta icon" href="">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </footer>
  <!-- Footer -->
</div>
