body{
    background-color: #fff;
    height:510px;
}
.container-fluid{
    
    margin: 0 auto;
    width:400px;
    
}
h1{
    font-family: 'Cardo', serif;
    color: #bf874d;
    font-size: 2.25em;
    padding: 30px ;
    letter-spacing: 5px;
}
label{
    text-transform: uppercase;
    display: block;
    font-size:.75em ;
    letter-spacing: .3em;
   
    /* font-weight: 4px; */
}
button{
    width:370px;
    padding:10px;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size:.75em ;

}

.sucessMsg p{
    color:green;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: 'Times New Roman', Times, serif;
}
