<!-- <div class="active-pink-3 active-pink-4 mb-4">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
</div>  -->

<!-- <app-header></app-header> -->
    <div>
        <!-- <h1>Trending Now</h1> -->
        <div class="container">
            <h1>Trending Now</h1>
            <div class="row">
                <ng-container *ngFor="let item of data.products | filter:searchText">
                    <div class="card col-md-3">
                        <div *ngIf="item.image!=null; else noImage">
                            <img src="{{item.image.src}}" alt="">
                        </div>
                        <ng-template #noImage>
                            <img  alt="">
                        </ng-template>

                        <h5>{{item.title}}</h5>

                        <p> Rs.{{item.variants[0].price}}</p>
                        <button class="btn btn-dark" (click)="addcart(item)"> Add to Cart</button>

                    </div>
                </ng-container>

            </div>
        </div>
    </div>
